.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 0.7fr;
  background-color: rgb(231, 231, 231);
  height: 70px;
  align-items: center;
  padding: 10px;
  padding-right: 50px;
  margin-bottom: 13px;
  color: rgb(0, 0, 0) !important;
  min-width: 800px;
}

.rent {
  background-color: rgba(10, 161, 56, 0.89);
  text-align: center;
  padding: 4px 0;
  margin-right: 15px;
  color: white;
  font-weight: bold;
}
.item {
  padding: 0 14px;
  font-weight: bold;
  font-size: 14px;
}

@media only screen and (max-width: 900px) {
  .containerSup {
    position: relative;
    width: 100%;
    height: auto;
  }
  .container {
    overflow-x: auto;
  }
}
